<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
        <p>I teach both freshers and experienced candidates web-development and provide career guidance.</p>
        <p>I have 16 years of IT industry experience and a decade of experience in building professional websites and front-end applications. I have started my career with Government Research lab, then worked in startup and top Investment Bank and last job was in Innominds as Associate Architect.
        </p>
        {{>footer}}
    </div>
</body>
</html>